/* Variables */

:root {
  --basic-black: #000000;
  --basic-dark: #293449;
  --basic-red: #EE3643;
  --basic-white: #FFFFFF;
  --basic-strange: #rgba(0, 0, 0, 0.0001);
  --basic-dark-blue: #32425C;

  --orange: #FFBF47;
  --orange2: #FFC047;
  --light-blue: #3BBCE3;
  --special-pink: #DC91D8;
  --basic-green: #63A63E;
  --special-green: #8ED78F;
  --slider-background: #rgba(0, 0, 0, 0.25);
  --light-beige: #F9F5F0;
  --beige: #F7F3EC;
  --light-grey: #F1F5F7;
  --grey: #C5C5C5;
  --white-transparent: rgba(255, 255, 255, 0.3);
  --border-grey: #EAEAEA;
  --special-beige: #FFD180;
  --special-white: #F3F7F9;
  --special-grey: #A9A9A9;
  --hover-green: #5FBB2D;
  --active-white: rgba(255, 255, 255, 0.5);
  --active-black: #161D29;
  --active-red: #BA2732;
  --hover-red: #CA2C37;
  --active-dark-blue: #1D2739;
  --hover-dark-transparent: rgba(197, 197, 197, 0.3);
  --active-dark-transparent: rgba(169, 169, 169, 0.3);
  --lighter-grey: #F2F6F8;



}

/* Global */

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: Cuprum, "Pt Sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);

}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}



/* common */
.button {
  font-size: 14px;
  line-height: 18px;
  border: none;
  background-color: var(--basic-red);
  color: var(--basic-white);
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  font-family: Cuprum;
}

.button:hover {
  background-color: var(--hover-red);
}

.button:active,
.button:focus {
  background-color: var(--active-red);
  outline: none;
}


.container {
  width: 960px;
  margin: 0 auto;
}

/* Main navigation */
.technomart-logo {
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.technomart-logo:active {
  background-color: var(--active-red);
}

.main-header {
  background-image: url("../img/topbackground.png");
  background-color: var(--basic-strange);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-size: 18px;
  color: var(--basic-white);
}

.header-top {
  background-color: var(--basic-dark);
  box-shadow: inset 0px -5px 0px var(--basic-dark);

}

.search {
  background-color: var(--basic-dark);
  border: none;
}

.search::placeholder {
  font-family: Cuprum;
  font-size: 18px;
  color: var(--basic-white);

}

.favourite,
.cart {
  color: var(--basic-white);
}

.favourite:active {
  background-color: var(--active-black);
}

.favourite:active,
.cart:active,
.order-button:active,
.search:active::placeholder {
  color: var(--active-white);
}

.order-button:focus,
.search:focus {
  outline: none;
}

.search:focus::placeholder {
  color: var(--basic-black);
}

.search:focus {
  background-color: var(--basic-white);
}

.order-button {
  border: none;
  text-transform: capitalize;
  background-color: var(--basic-green);
  font-family: Cuprum;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}

.order-button:hover {
  background-color: var(--hover-green);
}

.header-text {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
}

/* contacts */
.header-text,
.contacts-phone {
  color: var(--basic-red);
}

.contacts-text {
  color: var(--basic-dark-blue);
  font-size: 14px;
  line-height: 24px;
}

.contacts-phone {
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  border: 3px solid var(--basic-white);
}


.login-button,
.register-button {
  font-family: Cuprum;
  border: none;
  font-size: 21px;
  line-height: 21px;
  background-color: var(--basic-white);
  color: var(--basic-black);
  text-align: center;
  vertical-align: middle;
}

.login-button:hover,
.register-button:hover {
  color: var(--basic-red);
}

.login-button:active,
.register-button:active {
  color: var(--grey);
}

.login-button:focus,
.register-button:focus {
  outline: none;
}


.site-navigation {
  line-height: 24px;
  background-color: var(--basic-dark-blue);
  box-shadow: inset 0px -5px 0px var(--basic-dark);
  list-style: none;
}

.site-navigation-item a {
  color: var(--light-grey);
  font-size: 18px;
}

.site-navigation-item a:hover {
  background-color: var(--basic-dark);
}

.site-navigation-item a:active {
  background-color: var(--active-dark-blue);
  color: var(--active-white);
}

/* Promo */

.promo {
  color: var(--basic-white);
}

.promo h3 {
  font-size: 24px;
  line-height: 30px;

}

.promo h2 {
  font-size: 36px;
  line-height: 36px;

}

.promo-subtitle {
  font-size: 18px;
  line-height: 24px;
}

.promo-list {
  list-style: none;
  padding: 0;
}

.promo-item:first-child {
  background-color: var(--orange);
}

.promo-item:last-child {
  background-color: var(--orange2);
}

.promo-item a {
  color: var(--basic-white);
}

.promo-item:nth-child(2) {
  background-color: var(--light-blue);
}

.promo-item:nth-child(3) {
  background-color: var(--special-pink);

}

.promo-item:nth-child(4) {
  background-color: var(--special-green);
}

.promo-item a:hover {
  background-color: var(--hover-dark-transparent);
}

.promo-item a:active {
  background-color: var(--active-dark-transparent);
}

.promo-slider {
  background-color: var(--basic-dark-blue);
}

.promo-button {
  background-color: var(--white-transparent);
}

/* Популярные товары */
.title {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--basic-dark-blue);
}

.popular-header {
  background-color: var(--light-beige);
}

.popular-list {
  list-style: none;
  padding: 0;
}

.catalog-item {
  box-sizing: border-box;
  width: 220px;
  height: 318px;
  border: 1px solid var(--border-grey);
  font-size: 17px;
  line-height: 18px;
  text-align: center;
}



.catalog-item h3 {
  display: inline-block;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  width: 185px;
  height: 43px;
  font-family: "PT Sans";
  color: var(--basic-black);
}

.catalog-item del {
  font-family: "PT Sans";
  font-weight: bold;
  color: var(--special-grey);
}

.price {
  font-family: "PT Sans";
  font-weight: bold;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.new-item h3 {
  width: 157px;
  height: 41px;
}

/* Популярные производители */

.brands-list {
  list-style: none;
  padding: 0;

}

.brands-list-item {
  width: 220px;
  height: 145px;
}

/* Сервисы */
.services {
  background-color: var(--light-grey);
}

.services p {
  font-family: "PT Sans";
}

.services-list {
  list-style: none;
  padding: 0;
}

.services-list-item:not(.services-list-delivery) {

  background-color: var(--basic-dark-blue);
}

.services-list-item:not(.services-list-delivery) a:hover {
  background-color: var(--basic-dark);
}

.services-item p {
  font-family: "PT Sans";
}

.services-list-item a {
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
}

.services-list-item:not(.services-list-delivery) a {
  color: var(--basic-white);

}

.services-list-delivery {
  background-color: var(--basic-white);
}

.services-list-delivery a {
  color: var(--basic-dark-blue);
  background-color: var(--basic-white);
}

/* Цвет заголовков "services и about" */
.special-title {
  color: var(--basic-black);
}

/*about */
.about-list {
  list-style: none;
  padding: 0;

}

.about p {
  font-family: "PT Sans";
}

.about-list-item {
  font-size: 18px;
}

.contacts-map {
  background-color: var(--beige);
}

.contacts p {
  font-family: "PT Sans";
}


/* Footer */
.page-footer {
  background-color: var(--basic-dark-blue);
  color: var(--basic-white)
}

.footer-contacts {
  font-size: 18px;
  color: var(--special-white);
}

.footer-contacts a {
  color: inherit;
}

.footer-nav {
  list-style: none;
  padding: 0;
}


.footer-nav-bottom a {
  color: var(--special-beige);
}

site-navigation-item-special {
  color: var(--special-beige);
}

.footer-nav .site-navigation-item a:hover {
  text-decoration: underline;
  background-color: transparent;
}

.footer-nav .site-navigation-item a:active {
  text-decoration: none;
  opacity: 0.5;
  background-color: transparent;
}

.footer-bottom {
  background-color: var(--basic-dark);
  font-size: 16px;
  line-height: 18px;
}

.footer-text a {
  font-size: inherit;
  line-height: inherit;
  color: var(--special-beige)
}

.footer-text a:hover {
  text-decoration: underline;
}

.footer-text a:active {
  color: var(--basic-red);
  text-decoration: none;
}

.social {
  list-style: none;
  padding: 0;
}

.social-button {
  background: linear-gradient(0deg, #212A3A, #212A3A);
}

/* Catalog html */

/* header */

.user {
  background-image: url('../img/user-background.jpg');
  filter: drop-shadow(0px 4px 4px var(--slider-background));
}



.user a {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black)
}

.user-buttons a {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-dark-blue);
}

.user-buttons a:hover {
  color: var(--basic-red);
}

.user a:active,
.user-buttons a:active {
  color: var(--grey);
}

/* main */

/* Повлияет ли этот селектор на критерии? Или нормально?*/
.wrapper {
  font-family: "PT Sans";
}

.title {
  font-family: Cuprum;
}

/* Крошки. Хлебные крошки. */
.breadcrumbs {
  list-style: none;
  padding: 0;
}

.breadcrumbs-item {
  line-height: 18px;
  color: var(--basic-black)
}

/* Main-title */
.main-title {
  background-color: var(--lighter-grey);
}

/*filter sorting*/
.filter h2,
.sorting,
.sorting h2 {
  font-size: 13px;
  line-height: 18px;
  background-color: var(--beige);
  font-weight: normal;
  text-transform: uppercase;
}

.sorting h2 {
  display: inline-block;
}

.active-control {
  color: var(--basic-red)
}

.sorting-control:not(.active-control) {
  opacity: 0.3;
}

.sorting-control:hover {
  color: var(--basic-black);
  opacity: 1;
}

.sorting .ascending-button {
  background-color: var(--basic-red);
}

.descending-button {
  background-color: var(--grey);
}

.ascending-button:hover,
.descending-button:hover {
  background-color: var(--basic-black);
}

/*кнопки "купить" и "в закладки" */
.buy-button,
.favourite-button {
  box-sizing: border-box;
  width: 135px;
  height: 38px;
  font-size: 14px;
  font-family: Cuprum;
  border-radius: 2px;
  text-transform: uppercase;
}

.buy-button {
  color: var(--basic-white);
  border: none;
  background-color: #63A63E;
  box-shadow: inset 0px -3px 0px #367315;
}

.favourite-button {
  color: var(--basic-dark-blue);
  border: 3px solid #63A63E;
}

.buy-button:hover {
  background-color: #5FBB2D;
}

.buy-button:active,
.buy-button:focus {
  background-color: #518534;
  outline: none;
}

.favourite-button:hover {
  border: 3px solid #32425C;
}

.favourite-button:active {
  opacity: 0.5;
}

.favourite-button:focus {
  outline: none;
}


/* GOODS */
.goods-list {
  list-style: none;
  padding: 0;
}

/* Pagination */

.pagination {
  list-style: none;
  padding: 0;
}

.pagination-page {
  display: inline-block;
  box-sizing: border-box;
  line-height: 18px;
  width: 38px;
  height: 38px;
  text-align: center;
  padding: 10px 15px;
}

.next-page {
  width: 140px;
}

.pagination-page:not(.active-page) {
  border: 1px solid #E5E5E5;
  border-radius: 2px;
}

.pagination-page:hover {
  border: 1px solid #C5C5C5;
}

.pagination-page:active {
  border: 1px solid var(--basic-red);
}


.active-page {
  background-color: var(--basic-red);
}

.about-goods {
  width: 100%;
  background-color: var(--light-grey);
}
