/* Variables */

:root {
  --basic-black: #000000;
  --basic-dark: #293449;
  --basic-red: #ee3643;
  --basic-white: #ffffff;
  --basic-strange: #rgba(0, 0, 0, 0.0001);
  --basic-dark-blue: #32425c;
  --orange: #ffbf47;
  --orange2: #ffc047;
  --light-blue: #3bbce3;
  --special-pink: #dc91d8;
  --basic-green: #63a63e;
  --special-green: #8ed78f;
  --slider-background: #rgba(0, 0, 0, 0.25);
  --light-beige: #f9f5f0;
  --beige: #f7f3ec;
  --light-grey: #f1f5f7;
  --grey: #c5c5c5;
  --white-transparent: rgba(255, 255, 255, 0.3);
  --border-grey: #eaeaea;
  --special-beige: #ffd180;
  --special-white: #f3f7f9;
  --special-grey: #a9a9a9;
  --hover-green: #5fbb2d;
  --active-white: rgba(255, 255, 255, 0.5);
  --active-black: #161d29;
  --active-red: #ba2732;
  --hover-red: #ca2c37;
  --active-dark-blue: #1d2739;
  --hover-dark-transparent: rgba(197, 197, 197, 0.3);
  --active-dark-transparent: rgba(169, 169, 169, 0.3);
  --lighter-grey: #f2f6f8;
}

/* Global */

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: Cuprum, "Pt Sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Grid */
.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* common */
.button {
  display: block;
  box-sizing: border-box;
  height: 38px;
  font-size: 14px;
  line-height: 18px;
  border: none;
  background-color: var(--basic-red);
  color: var(--basic-white);
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
  font-family: Cuprum;
}

.button:hover {
  background-color: var(--hover-red);
}

.button:active,
.button:focus {
  background-color: var(--active-red);
  outline: none;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* Main navigation */
.technomart-logo {
  margin: 0;
  display: inline-block;
  box-sizing: border-box;
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
  width: 220px;
  height: 47px;
  padding: 12px 57px 15px 55px;
}

.technomart-logo:active {
  background-color: var(--active-red);
}

.main-header {
  margin-bottom: 60px;
  background-image: url("../img/topbackground.png");
  background-color: var(--basic-strange);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-size: 18px;
  color: var(--basic-white);
}

.main-navigation {
  display: grid;
  grid-template-rows: 1fr min-content;
}

.header-top {
  height: 42px;
  background-color: var(--basic-dark);
  box-shadow: inset 0px -5px 0px var(--basic-dark);
  margin-bottom: 46px;
  vertical-align: top;
}

.search {
  vertical-align: top;
  width: 271px;
  height: 42px;
  background-color: var(--basic-dark);
  border: none;
}

.search::placeholder {
  font-family: Cuprum;
  font-size: 18px;
  color: var(--basic-white);
  line-height: 24px;
}

.favourite,
.cart {
  color: var(--basic-white);
}

.page-body__inner .cart {
  background-color: var(--basic-red);
}

.favourite:active {
  background-color: var(--active-black);
}

.favourite:active,
.cart:active,
.order-button:active,
.search:active::placeholder {
  color: var(--active-white);
}

.order-button:focus,
.search:focus {
  outline: none;
}

.search:focus::placeholder {
  color: var(--basic-black);
}

.search:focus {
  background-color: var(--basic-white);
}

.order-button {
  border: none;
  padding: 9px;
  text-transform: capitalize;
  background-color: var(--basic-green);
  font-family: Cuprum;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  vertical-align: top;
}

.order-button:hover {
  background-color: var(--hover-green);
}

.header-text {
  max-width: 200px;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
}

.header-middle {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.header-middle p {
  margin: 0;
}

/* contacts */
.header-text,
.contacts-phone {
  color: var(--basic-red);
}

.contacts-text {
  color: var(--basic-dark-blue);
  font-size: 14px;
  line-height: 24px;
}

.contacts-phone {
  display: block;
  width: 270px;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  border: 3px solid var(--basic-white);
}

.login-button,
.register-button {
  display: inline-block;
  box-sizing: border-box;
  padding: 12px;
  font-family: Cuprum;
  font-size: 21px;
  line-height: 21px;
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.login-button:hover,
.register-button:hover {
  color: var(--basic-red);
}

.login-button:active,
.register-button:active {
  color: var(--grey);
}

.login-button:focus,
.register-button:focus {
  outline: none;
}

.site-navigation {
  line-height: 24px;
  background-color: var(--basic-dark-blue);
  box-shadow: inset 0px -5px 0px var(--basic-dark);
  list-style: none;
}

.site-navigation-item a {
  color: var(--basic-white);
  font-size: 18px;
}

.site-navigation-item a:hover {
  background-color: var(--basic-dark);
}

.site-navigation-item a:active {
  background-color: var(--active-dark-blue);
  color: var(--active-white);
}

/* Promo */
.promo {
  color: var(--basic-white);
  margin-bottom: 60px;
}

.promo h3 {
  font-size: 24px;
  line-height: 30px;
}

.promo h2 {
  font-size: 36px;
  line-height: 36px;
}

.promo-subtitle {
  font-size: 18px;
  line-height: 24px;
}

.promo-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.promo-item:first-child {
  background-color: var(--orange);
}

.promo-item:last-child {
  background-color: var(--orange2);
}

.promo-item a {
  color: var(--basic-white);
}

.promo-item:nth-child(2) {
  background-color: var(--light-blue);
}

.promo-item:nth-child(3) {
  background-color: var(--special-pink);
}

.promo-item:nth-child(5) {
  background-color: var(--special-green);
}

.promo-item a:hover {
  background-color: var(--hover-dark-transparent);
}

.promo-item a:active {
  background-color: var(--active-dark-transparent);
}

.promo-slider {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
  background-color: var(--basic-dark-blue);
}

.promo .button {
  width: 192px;
}

.promo-button {
  background-color: var(--white-transparent);
}

/* Популярные товары */
.popular {
  margin-bottom: 70px;
}

.title {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--basic-dark-blue);
}

.popular-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--light-beige);
  height: 89px;
  margin-bottom: 20px;
  align-content: center;
}

.popular-header .button {
  justify-self: end;
  width: 192px;
}

.popular-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style: none;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.catalog-item {
  box-sizing: border-box;
  width: 220px;
  height: 318px;
  border: 1px solid var(--border-grey);
  font-size: 17px;
  line-height: 18px;
  text-align: center;
}

.catalog-item h3 {
  display: inline-block;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  width: 185px;
  height: 43px;
  font-family: "PT Sans";
  color: var(--basic-black);
}

.catalog-item del {
  font-family: "PT Sans";
  font-weight: bold;
  color: var(--special-grey);
}

.price {
  font-family: "PT Sans";
  font-weight: bold;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.new-item h3 {
  width: 157px;
  height: 41px;
}

/* Популярные производители */
.popular-brands {
  margin-bottom: 70px;
}

.brands-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.brands-list-item {
  width: 220px;
  height: 145px;
}

/* Сервисы */
.services {
  background-color: var(--light-grey);
  margin-bottom: 70px;
}

.services-content {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 80px;
}

.services p {
  font-family: "PT Sans";
}

.services-list {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 240px;
}

.services-list-item:not(.services-list-delivery) {
  background-color: var(--basic-dark-blue);
}

.services-list-item:not(.services-list-delivery) a:hover {
  background-color: var(--basic-dark);
}

.services-item {
  width: 620px;
}

.services-item p {
  font-family: "PT Sans";
}

.services-list-item a {
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
}

.services-list-item {
  box-sizing: border-box;
  width: 240px;
  height: 61px;
  padding: 13.5px 22px 17.5px;
}

.services-list-item:not(.services-list-delivery) a {
  color: var(--basic-white);
}

.services-list-delivery {
  background-color: var(--basic-white);
}

.services-list-delivery a {
  color: var(--basic-dark-blue);
  background-color: var(--basic-white);
}

/* Цвет заголовков "services и about" */
.special-title {
  color: var(--basic-black);
}

/*about */
.index-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 70px;
}

.about-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.about p {
  font-family: "PT Sans";
}

.about-list-item {
  font-size: 18px;
}

.about .button {
  width: 220px;
}

.contacts {
  width: 320px;
  justify-self: end;
}

.contacts-map {
  background-color: var(--beige);
}

.contacts p {
  font-family: "PT Sans";
}

.contacts .button {
  width: 300px;
}

/* Footer */
.page-footer .container {
  display: grid;
  grid-template-columns: auto auto;
}

.page-footer {
  background-color: var(--basic-dark-blue);
  color: var(--basic-white);
}

.footer-contacts {
  max-width: 325px;
  font-size: 18px;
  color: var(--special-white);
  margin: 0;
}

.footer-contacts a {
  color: inherit;
}

.footer-nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-nav-top a {
  color: var(--light-grey);
}

.footer-nav-bottom a {
  color: var(--special-beige);
}

site-navigation-item-special {
  color: var(--special-beige);
}

.footer-nav .site-navigation-item a:hover {
  text-decoration: underline;
  background-color: transparent;
}

.footer-nav .site-navigation-item a:active {
  text-decoration: none;
  opacity: 0.5;
  background-color: transparent;
}

.footer-bottom {
  background-color: var(--basic-dark);
  font-size: 16px;
  line-height: 18px;
  margin: 0;
}

.footer-bottom .container {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.copyright {
  max-width: 230px;
}

.footer-text {
  max-width: 150px;
  margin: 0;
}

.footer-text a {
  font-size: inherit;
  line-height: inherit;
  color: var(--special-beige);
  margin: 0;
}

.footer-text a:hover {
  text-decoration: underline;
}

.footer-text a:active {
  color: var(--basic-red);
  text-decoration: none;
}

.social {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-button {
  background: linear-gradient(0deg, #212a3a, #212a3a);
}

/* Catalog html */

/* header */

.user {
  background-image: url("../img/user-background.jpg");
  filter: drop-shadow(0px 4px 4px var(--slider-background));
}

.user a {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
}

.user-buttons a {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-dark-blue);
}

.user-buttons a:hover {
  color: var(--basic-red);
}

.user a:active,
.user-buttons a:active {
  color: var(--grey);
}

/* main */

.wrapper {
  font-family: "PT Sans";
}

.title {
  font-family: Cuprum;
}

/* Grid */
.catalog-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}


/* Крошки. Хлебные крошки. */
.breadcrumbs {
  grid-column: 1/-1;
  list-style: none;
  padding: 0;
  margin: 0;
}

.breadcrumbs-item {
  line-height: 18px;
  text-transform: uppercase;
}

.breadcrumbs-item a {
  color: var(--basic-black);
}

/* Main-title */
.main-title {
  grid-column: 1/-1;
  background-color: var(--lighter-grey);
}

/*filter sorting*/
.filter-title,
.sorting,
.sorting h2 {
  font-size: 13px;
  line-height: 18px;
  background-color: var(--beige);
  font-weight: normal;
  text-transform: uppercase;
}

.filters {
  width: 220px;
  grid-row-start: 4;
  grid-column: 1/2;
}

.filter-title {
  box-sizing: border-box;
  grid-row-start: 3;
  grid-column-start: 1;
  margin: 0;
  height: 38px;
  padding: 10px;
}

.sorting {
  grid-column: 2/-1;
  grid-row: 3/4;
  height: 38px;
}

.sorting h2 {
  display: inline-block;
}

.active-control {
  color: var(--basic-red);
}

.sorting-control:not(.active-control) {
  opacity: 0.3;
}

.sorting-control:hover {
  color: var(--basic-black);
  opacity: 1;
}

.sorting .ascending-button {
  background-color: var(--basic-red);
}

.descending-button {
  background-color: var(--grey);
}

.ascending-button:hover,
.descending-button:hover {
  background-color: var(--basic-black);
}

/*кнопки "купить" и "в закладки" */
.buy-button,
.favourite-button {
  width: 135px;
  font-size: 14px;
  line-height: 18px;
  font-family: Cuprum;
  border-radius: 2px;
  text-transform: uppercase;
}

.buy-button {
  color: var(--basic-white);
  border: none;
  background-color: #63a63e;
  box-shadow: inset 0px -3px 0px #367315;
}

.favourite-button {
  color: var(--basic-dark-blue);
  border: 3px solid #63a63e;
}

.buy-button:hover {
  background-color: #5fbb2d;
}

.buy-button:active,
.buy-button:focus {
  background-color: #518534;
  outline: none;
}

.favourite-button:hover {
  border: 3px solid #32425c;
}

.favourite-button:active {
  opacity: 0.5;
}

.favourite-button:focus {
  outline: none;
}

/* GOODS */
.goods {
  grid-row-start: 4;
  grid-column-start: 2;
  grid-column-end: -1;
}

.goods-list {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 8px;
}

.goods-list ul {
  margin: 0;
}

.goods-title {
  display: block;
  max-width: 185px;

}

/* Pagination */

.pagination {
  grid-column: 2/-1;
  list-style: none;
  padding: 0;
  margin: 0;
}

.pagination-page {
  display: inline-block;
  box-sizing: border-box;
  line-height: 18px;
  width: 38px;
  height: 38px;
  text-align: center;
  padding: 10px 15px;
}

.pagination-page a {
  color: var(--basic-black);
  text-transform: uppercase;
}

.next-page {
  width: 140px;
}

.pagination-page:not(.active-page) {
  border: 1px solid #e5e5e5;
  border-radius: 2px;
}

.pagination-page:hover {
  border: 1px solid #c5c5c5;
}

.pagination-page:active {
  border: 1px solid var(--basic-red);
}

.active-page {
  background-color: var(--basic-red);
}

.active-page a {
  color: var(--basic-white);
}

.about-goods {
  width: 100%;
  background-color: var(--light-grey);
}

.about-goods p {
  margin: 0;
  max-width: 910px;
}

.about-goods .title {
  color: var(--basic-black);
}
